.domino {
    height: 150px
}

.domino_jugado {
    height: 80px
}

.jugador {
    flex: 50%;
    padding: 10px;
    min-height: 300px;
    max-width: 550px;
    /*border:1px solid red;*/
}

.jugador.mano {
    background-color: green;
}

.centro {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    padding: 10px;
}
