.jugador0{
    padding: 5px;
    min-height: 200px;
    max-width: 550px;
}
.jugador1{
    padding: 5px;
    min-height: 200px;
    max-width: 550px;
}
.jugador2{
    padding: 5px;
    min-height: 200px;
    max-width: 550px;
}
.jugador3{
    padding: 5px;
    min-height: 200px;
    max-width: 550px;
}
.self {
    border: 1px solid #186992;
    border-radius: 20px;
}
.mano {
    border: 10px solid #186992;
    border-radius: 20px;
}
.playerName {

}
.actionBar {

}
.statusBar{

}
.fichas {

}
.domino{
    height: 150px;
    padding: 3px;
}
.filas {

}
.fila {

}
.domino_jugado {
    height: 80px
}
.fichasEnJuego {
    padding: 5px;
    min-height: 200px;
    max-width: 550px;
    border: 10px solid;
    border-color: darkgreen;
    border-radius: 20px;
    background-color: forestgreen;
}
.fichaEnJuego {

}
.domino_enjuego {
    height: 150px
}

.menuBurger i.dropdown.icon {
    display: none;
}
.hoyo {
    border-radius: 100px;
    border: 3px solid red;
    background: white;
    color : black;
    padding : 10px 15px;
}
.chuti {
    border-radius: 100px;
    border: 3px solid green;
    background: white;
    color : black;
    padding : 10px 15px;
}

.ui.selection.dropdown.cantaDropdown {
    min-width: 18em;
}
